.layout-container { 
  padding-right: 7em;
  padding-left: 7em;
}

.blog-container {
  display: inline-block;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* width: 50%; */
  padding-left: 0;
  /* justify-content: space-evenly; */
}

.blog-card {
  display: inline-block;
  margin-bottom: 2.5em;
  /* padding: 1.5em; */
  box-shadow: 0px 0px 6px grey;
  font-family: 'Helvetica';
  width: 30%;
}

.blog-description{
  padding: 1em;
}

.blog-title {
  font-size: 1.3em;
  color: #18315C;
  margin-bottom: 10px; 
}

a {
  margin-right: 5%;
}

/* a:nth-child(3n) .blog-title {
  font-size: 1.5em;
  color: red;
  margin-bottom: 3px; 
} */

.blog-date-topic {
  color: #A9A1B0;
  margin-bottom: 4px;
  font-size: 0.8em;
}

.blog-excerpt {
  font-size: 0.7em;
  margin-bottom: 2px;
}

.read-more {
  font-size: 0.5em;
  margin-bottom: 2px;
}

/* Navbar nav.js ============================= */
.nav-container {
  padding-top: 3rem;  
}

#nav-home {
  margin-right: 2rem;
}

.nav-container ul{
  list-style-type: none;
}

.nav-container h1 {
  float: left;
  font-size: 25px;
}

.nav-container li {
  float: right;
  font-size: 25px;
}

.nav-item-container {
  display: flex;
  justify-content: flex-end;
}

.nav-item a{
  text-decoration: none;
  color: black;
}

.underline {
  height: 2.5px;
  background-color: transparent;
  width: 0%;
  margin: 3px auto 0 auto;
}

.active-link .underline {
  width: 100%;
  background-color: black;
}

.nav-item:hover .underline {
  background-color: black;
  width: 100%;
  transition: background-color 0.5;
}
/* ========================================== */